DJANGO_SECRET_KEY=change-me-with-a-long-random-secret

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_NAME=codeleap_db
DATABASE_USER=codeleap_user
DATABASE_PASSWORD=change-me-db-password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

CORS_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
CORS_ALLOW_CREDENTIALS=True

CSRF_TRUSTED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
